body { 
	background-color: RGB(238, 221, 137);
}
.cont {
	position: relative;
	background-color: RGB(250, 250, 250);
	width: 60%;
	min-height: 80%;
	height: auto;
	margin: auto;
	padding: 2em 2em 5em 2em;
}
.cont h1 {
	text-align: center;
}
.cont footer {
	position: absolute;
	bottom: 1em;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
}
p {
	text-indent: 1.5em;
}
.topmargin {
	position: relative;
	top: 1.5em;
}
.cont img {
	border-style: ridge;
	border-color: RGB(150, 150, 150);
}
.cont .caption {
	text-align: center;
	font-size: 0.7em;
}